.worker_keyword button {
    border-radius: 50%;
    padding: 0px 10px;
    font-size: 20px;
}

.fieldset {
    position:relative;
}

.form-control {
    margin: 10px 0%;
    box-sizing: border-box;
}