a {
    text-decoration: none;
}

.container {
    box-sizing: border-box;
    width: 50%;
    margin: 0px auto;
    padding: 10px;
    background-color: #eee;

}

.title-container {
    text-align: center;
}

.title {
    margin: 0px auto;
    color: #444;
    font-size: 20px;
    align-content: center;

}

.permission-section p {
    display: inline;
    color:rgb(190, 130, 0);
    font-size: 14px;
}

.form_container {
    width: 65%;
    margin: 0px auto;
    margin-bottom: 30px;
}

#error_msg {
    color: #ff0000;
    /* font-size: 30px; */
}

.form input {
    width: 100%;
    /* min-width: 150px; */
    box-sizing: border-box;
}

.form .textfield {
    background-color: white;
    height: 30px;
    font-size: 16px;
    margin: 3px 0px;
    margin-bottom: 30px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.reg_button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: block;
    font-size: 18px;
    border-radius: 0px;
    min-height: 60px;
    margin: auto;
    background-color: rgb(138, 8, 94);
    width: 200px;
    max-width: 200px;
}

.reg_button:hover {
    color: rgb(163, 111, 146);
    background-color: rgb(90, 0, 50);
}



/*Filter styles*/
.invert { filter: invert(100%); }
.bold {font-weight: bold;}