html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#no-permission {
    padding-top: 40px;
}

h2 {
    margin-top: 20px;
}

table {
    text-align: right;
    margin-bottom: 5px;
}

button {
    margin-top:5px;
}
/* th {
    padding-left: 7px;
} */