@font-face {
    font-family: gobold;
    src: url(fonts/gobold_extra1.otf);
}

:root {
    --dark-red: rgb(134, 11, 83);
    --accent-orange: rgb(214, 121, 0);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    background-image: url(img/pexels.jpg);
    background-color: #777;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

header {
    color:white;
    text-align: center;
    padding: 30px;
    text-shadow: 1px 1px 1px black;

    font-family: 'Roboto', sans-serif;
}

header #crowd_title {
    color: rgb(155, 61, 116);
    letter-spacing: 1px;
}

header #sourcing_title {
    color: rgb(255, 255, 255);
    /* letter-spacing: 2px; */
}

header h1 {
    text-shadow: 1px 1px 2px black;

    font-size: 50px;
    margin: 0px;
    font-family: gobold;
}

header .subtitle {
    margin: 0px auto;
    margin-bottom: 10px;
}

/* Not really responsive tho..reduce viewport width to see */
.join_container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 300px; */
    margin: auto;
    padding: 0px;
    /* background-color: green; */
}

.single_join_block {
  display: block;
  width: 45%;
  height: 100%;
  min-height: 350px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 10px 6px -6px #222;
  /* border: 1px solid; */
}

.single_join_block button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    min-height: 80px;
    margin: auto;
}

#worker button {
    background-color: var(--dark-red);
}

#worker button:hover {
    color: #ddd;
    background-color: #470423;
}

#requester button {
    background-color: var(--accent-orange);
}

#requester button:hover {
    color: #ddd;
    background-color: #ca4f15;
}

a.needtologin-w, a.needtologin-r {
    display: block;
    font-size: 13px;
    color: #888;
    text-decoration: none;
    width: fit-content;
    margin: auto;
}

a.needtologin-w:hover {
    color: var(--dark-red);
    /* font-weight: bold; */
}

a.needtologin-r:hover {
    color: var(--accent-orange);
    /* font-weight: bold; */
}

.description p {
    color: #555;
    padding: 16px;
    padding-bottom: 0px;
    margin: 0px auto;
}

.description ul {
    color: #555;
    padding: 16px;
    padding-top: 2px;

    margin: 0px 16px;
}

footer {
    font-size: 13px;
    color: white;
    padding: 10px;
    text-align: end;

    position: absolute; 
    right: 0;
    bottom: 0;
    left: 0;
}